a#header > { color: #ddd; }
a#header > audio { display: none; }
a#header > img {
    float: left;
    height: 11em;
    -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); }
a#header > header {
    margin: 2em 0em 0em 3em;
    padding: 1em 0em 0em 12em;
    height: 10em;
    font-weight: bold;
    font: 1.2em/3.01 'Lucida Grande';
    text-align: center;
    text-shadow: 1px 1px 3px white;
    color: rgba(59, 68, 88, 0.2); }
    a#header > header > h2 {
        display: block;
        float: left;
        font: 1.2em/3.01 'Lucida Grande'; }
    a#header > header > h1 {
        display: block;
        float: left;
        font-size: 5em;
        line-height: 1.01; }
        a#header > header > h1 > span {
            display: block;
            float: left; }

    a#header:hover > img {
        -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);
        -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; }
    a#header:hover > header > h1 > span:nth-child(1) { -webkit-animation: span1  20s infinite; -moz-animation: span1  20s infinite; }
    a#header:hover > header > h1 > span:nth-child(2) { -webkit-animation: span2  20s infinite; -moz-animation: span2  20s infinite; }
    a#header:hover > header > h1 > span:nth-child(3) { -webkit-animation: span3  20s infinite; -moz-animation: span3  20s infinite; }
    a#header:hover > header > h1 > span:nth-child(4) { -webkit-animation: span4  20s infinite; -moz-animation: span4  20s infinite; }
    a#header:hover > header > h1 > span:nth-child(5) { -webkit-animation: span5  20s infinite; -moz-animation: span5  20s infinite; }
    a#header:hover > header > h1 > span:nth-child(6) { -webkit-animation: span6  20s infinite; -moz-animation: span6  20s infinite; }
    a#header:hover > header > h1 > span:nth-child(7) { -webkit-animation: span7  20s infinite; -moz-animation: span7  20s infinite; }
    a#header:hover > header > h1 > span:nth-child(8) { -webkit-animation: span8  20s infinite; -moz-animation: span8  20s infinite; }
    a#header:hover > header > h1 > span:nth-child(9) { -webkit-animation: span9  20s infinite; -moz-animation: span9  20s infinite; }
    a#header:hover > header > h1 > span:nth-child(10){ -webkit-animation: span10 20s infinite; -moz-animation: span10 20s infinite; }
    a#header:hover > header > h2                     { -webkit-animation: h2     20s infinite; -moz-animation: h2     20s infinite; }
        
@-webkit-keyframes span1 { 3% { color: rgba(59, 68, 88, 0.2); } 4% { color: #78C400; } 100% { color: #78C400; } } @-moz-keyframes span1 { 3% { color: rgba(59, 68, 88, 0.2); } 4% { color: #78C400; } 100% { color: #78C400; } }
@-webkit-keyframes span2 { 4% { color: rgba(59, 68, 88, 0.2); } 5% { color: #78C400; } 100% { color: #78C400; } } @-moz-keyframes span2 { 4% { color: rgba(59, 68, 88, 0.2); } 5% { color: #78C400; } 100% { color: #78C400; } }@-webkit-keyframes span1 { 3% { color: rgba(59, 68, 88, 0.2); } 4% { color: #78C400; } 100% { color: #78C400; } }
@-webkit-keyframes span3 { 5% { color: rgba(59, 68, 88, 0.2); } 6% { color: #78C400; } 100% { color: #78C400; } } @-moz-keyframes span3 { 5% { color: rgba(59, 68, 88, 0.2); } 6% { color: #78C400; } 100% { color: #78C400; } }@-webkit-keyframes span1 { 3% { color: rgba(59, 68, 88, 0.2); } 4% { color: #78C400; } 100% { color: #78C400; } }
@-webkit-keyframes span4 { 6% { color: rgba(59, 68, 88, 0.2); } 7% { color: #78C400; } 100% { color: #78C400; } } @-moz-keyframes span4 { 6% { color: rgba(59, 68, 88, 0.2); } 7% { color: #78C400; } 100% { color: #78C400; } }@-webkit-keyframes span1 { 3% { color: rgba(59, 68, 88, 0.2); } 4% { color: #78C400; } 100% { color: #78C400; } }
@-webkit-keyframes span5 { 8% { color: rgba(59, 68, 88, 0.2); } 9% { color: #78C400; } 100% { color: #78C400; } } @-moz-keyframes span5 { 8% { color: rgba(59, 68, 88, 0.2); } 9% { color: #78C400; } 100% { color: #78C400; } }@-webkit-keyframes span1 { 3% { color: rgba(59, 68, 88, 0.2); } 4% { color: #78C400; } 100% { color: #78C400; } }
@-webkit-keyframes span6 { 10%{ color: rgba(59, 68, 88, 0.2); } 11%{ color: #333333; } 100% { color: #333333; } } @-moz-keyframes span6 { 10%{ color: rgba(59, 68, 88, 0.2); } 11%{ color: #333333; } 100% { color: #333333; } }@-webkit-keyframes span1 { 3% { color: rgba(59, 68, 88, 0.2); } 4% { color: #78C400; } 100% { color: #78C400; } }
@-webkit-keyframes span7 { 12%{ color: rgba(59, 68, 88, 0.2); } 13%{ color: #0A4C80; } 100% { color: #0A4C80; } } @-moz-keyframes span7 { 12%{ color: rgba(59, 68, 88, 0.2); } 13%{ color: #0A4C80; } 100% { color: #0A4C80; } }@-webkit-keyframes span1 { 3% { color: rgba(59, 68, 88, 0.2); } 4% { color: #78C400; } 100% { color: #78C400; } }
@-webkit-keyframes span8 { 14%{ color: rgba(59, 68, 88, 0.2); } 15%{ color: #0A4C80; } 100% { color: #0A4C80; } } @-moz-keyframes span8 { 14%{ color: rgba(59, 68, 88, 0.2); } 15%{ color: #0A4C80; } 100% { color: #0A4C80; } }@-webkit-keyframes span1 { 3% { color: rgba(59, 68, 88, 0.2); } 4% { color: #78C400; } 100% { color: #78C400; } }
@-webkit-keyframes span9 { 16%{ color: rgba(59, 68, 88, 0.2); } 17%{ color: #0A4C80; } 100% { color: #0A4C80; } } @-moz-keyframes span9 { 16%{ color: rgba(59, 68, 88, 0.2); } 17%{ color: #0A4C80; } 100% { color: #0A4C80; } }@-webkit-keyframes span1 { 3% { color: rgba(59, 68, 88, 0.2); } 4% { color: #78C400; } 100% { color: #78C400; } }
@-webkit-keyframes span10{ 20%{ color: rgba(59, 68, 88, 0.2); } 21%{ color: #0A4C80; } 100% { color: #0A4C80; } } @-moz-keyframes span10{ 20%{ color: rgba(59, 68, 88, 0.2); } 21%{ color: #0A4C80; } 100% { color: #0A4C80; } }@-webkit-keyframes span1 { 3% { color: rgba(59, 68, 88, 0.2); } 4% { color: #78C400; } 100% { color: #78C400; } }
@-webkit-keyframes h2    { 24%{ color: rgba(59, 68, 88, 0.2); } 25%{ color: #333333; } 100% { color: #333333; } } @-moz-keyframes h2    { 24%{ color: rgba(59, 68, 88, 0.2); } 25%{ color: #333333; } 100% { color: #333333; } }@-webkit-keyframes span1 { 3% { color: rgba(59, 68, 88, 0.2); } 4% { color: #78C400; } 100% { color: #78C400; } }