body {
    font: 14px/1.01 'Helvetica', serif;
    color: #333;
    background: top left #f0f0f0 url(../images/bg.png); }
    body div#body {
        margin: 0em auto;
        width: 64em; }
ol {
    padding-left: 2em;
    list-style-type: decimal; }

a {
    color: #0A4C80;
    text-decoration: none; }

aside {
    float: left;
    width: 16em; }
    
input[type="button"]:hover,
input[type="submit"]:hover { background-color: hsl(88, 70%, 75%); }
input[type="button"],
input[type="submit"] {
    position: relative;
    display: inline-block;
    margin-top: 0.4em 0.5em 0.5em 0.5em;
    padding: 0.5em 0.6em 0.4em 0.6em;
    text-decoration: none;
	font: 1em/1.01 'Droid Sans', sans-serif;
	font-weight: bold;
	text-shadow: rgba(255, 255, 255, 0.5) 0em 0.1em 0em;
	color: hsl(88, 70%, 30%) !important;
	border-top: 0.1em solid rgba(255, 255, 255, 0.8);
	border-right: none;
	border-bottom: 0.1em solid rgba(0, 0, 0, 0.1);
	border-left: none;
	border-radius: 0.4em;
	background-color: hsl(88, 70%, 60%);
	background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(noise.png); background-image: -moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%), url(noise.png); background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(noise.png);
    -webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, rgba(0,0,0,0.2) 0 .5em 5px; -moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, rgba(0,0,0,0.2) 0 .5em 5px; box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, rgba(0,0,0,0.2) 0 .5em 5px;
    cursor: pointer;
    -webkit-user-select: none; -moz-user-select: none; user-select: none;
    -webkit-transition: background .2s ease-in-out; -moz-transition: background .2s ease-in-out; transition: background .2s ease-in-out; }
input[type="button"]:active,
input[type="submit"]:active {
	background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )), url(noise.png); background-image: -moz-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )), url(noise.png); background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )), url(noise.png);
	-webkit-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, rgba(0,0,0,0.4) 0 .1em 1px, rgba(0,0,0,0.2) 0 .2em 6px; -moz-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, rgba(0,0,0,0.4) 0 .1em 1px, rgba(0,0,0,0.2) 0 .2em 6px; box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, rgba(0,0,0,0.4) 0 .1em 1px, rgba(0,0,0,0.2) 0 .2em 6px;
	-webkit-transform: translateY(.2em); -moz-transform: translateY(.2em); transform: translateY(.2em); }
input[type="button"]:focus,
input[type="submit"]:focus {
	outline: none;
	color: rgba(254, 255, 255, 0.9) !important;
	text-shadow: rgba(0, 0, 0, 0.2) 0em 0.1em 0.2em; }