body {
    font: 14px/1.01 'Helvetica', serif;
    color: #333;
    background: top left #f0f0f0 url(../images/bg.png); }
    body div#body {
        margin: 0em auto;
        width: 64em; }
ol {
    padding-left: 2em;
    list-style-type: decimal; }

a {
    color: #0A4C80;
    text-decoration: none; }

aside {
    float: left;
    width: 16em; }