<!DOCTYPE html>
<html>
    <head>
        <script src="/javascripts/jquery-1.6.4.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascripts/weld-0.2.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascripts/jquery.weld.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <form action="/save" method="POST">
            <ul>
                <li>
                    Sheet: 
                    <select name="sheet">
                        <% for(var i=1; i<=12; i++) {
                            <option value="<%- i %>">Sheet <%= i %></option>
                    </select>
                </li>
                <li>
                    Nr: 
                    <input type="text" name="nr" />
                </li>
                <li>
                    Titel:
                    <input type="text" name="title" />
                </li>
                <li>
                    Author:
                    <select name="author">
                        for(var i in authors) {
                            var author = authors[i];
                            <option value="<%- author._id %>"><%= author.name %></option>
                        }
                    </select>
                </li>
                <li>
                    Beschreibung:
                    <textarea name="description"></textarea>
                </li>
                <li>
                    Erstelldatum:
                    <input type="text" name="date" value="<%-new Date();%>" />
                </li>
                <li>
                    
                </li>
		    </ul>
	    </form>
    </body>
</html>



