<script type="text/javascript" src="/javascripts/jquery.form.js"></script>
<script type="text/javascript" src="/javascripts/markup_generators/post.js"></script>
<script type="text/javascript">
  var updateFailureNumber = function() {
    $.getJSON('/getFailureNumber', {sheet: $('#sheet').val()}, function(data) {
      if(data.err) {
        $('#failureNumber').val("Fehler");
      } else {
        $('#failureNumber').val(data.nr);
      }
    });
  }
  
  var ajaxLoadImage = $("<img src='/images/ajax-loader.gif' style='width: 1em'/>");
  var checkImage = $("<img src='/images/check.png' style='width: 1em' />");
  
  $(document).ready(function() {
    $("*[data-type='content']").hide();
    $("*[data-type='long-text']").hide();
    $("form").each(function() {
      var form = $(this);
      var status_element = $(this).find("*[data-type='status']");
      $(this).ajaxForm({        
        success: function(data) {
          if(!data.error) {
            status_element.empty();
            status_element.append(checkImage.clone());
            
            if(data.post.published) {
              form.remove();
            }
          } else {
            status_element.empty();
            status_element.append("error");
          }
        },
        dataType: 'json'
      });
    });
  });
  
  function find_post_div(element) {
    return element.parents('*[data-content=\'post\']');
  }
  
  function toggle_expand(element) {
    if(typeof element.data('expanded') === 'undefined' || !element.data('expanded')) {
      element.find("*[data-type='folded']").hide();
      element.find("*[data-type='content']").show();
      element.data('expanded', true);
    } else {
      element.find("*[data-type='folded']").show();
      element.find("*[data-type='content']").hide();
      element.data('expanded', false);
    }
  }
  
  function toggle_content(element) {
    if(typeof element.data('show_expanded') === 'undefined' || element.data('show_expanded') == 'overview') {
      element.find("*[data-type='long-text']").show();
      element.find("*[data-type='overview']").hide();
      element.data('show_expanded', 'long-text');
    } else {
      element.find("*[data-type='overview']").show();
      element.find("*[data-type='long-text']").hide();
      element.data('show_expanded', 'overview');
    }
  }
  
  function save(element) {
    var status_element = element.find("*[data-type='status']");
    var form = element.parents("form:first");
    
    status_element.empty();
    status_element.append(ajaxLoadImage.clone());
    
    form.submit();
  }
  
  function publish(element) {
    var status_element = element.find("*[data-type='status']");
    var form = element.parents("form:first");
    
    form.find("*[name='published']").val(true);
    
    status_element.empty();
    status_element.append(ajaxLoadImage.clone());
    
    form.submit();
  }
  
  function appendPostDoc() {
    $("#posts").append(generatePostMarkup({imports: ["a", "b"]}));
  }
</script>
<style>
.roundborder {
  width: 42.3em;
  border-radius: 0.4em;
  border: 0.1em solid gray;
  padding: 0.5em;
  background: #ddd;
  margin: 0.5em 0.5em 0em 0.5em;
}

.whiteroundborder {
  width: 42.3em;
  border-radius: 0em 0em 0.4em 0.4em;
  border: 0.1em solid gray;
  padding: 0.5em;
  background: #fff;
  margin: -0.5em 0.5em 0.5em 0.5em;
}

.linklike {
  text-decoration: underline; 
  color: blue; 
  cursor: pointer;
}
</style>

<div id="posts">
  <% for(var i in posts) { %>
    <% var post = posts[i]; %>
    <%- generatePostMarkup(post) %>
  <% } %>
</div>
<div style="text-align: right; font-size: 2em; cursor: pointer; margin-right: 0.35em;">
  <span onClick="appendPostDoc()">+</span>
</div>
