<script type="text/javascript" src="/javascripts/jquery.form.js"></script>
<script type="text/javascript" src="/javascripts/markup_generators/post.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("form").each(function() {
      var postArticle = getPost($(this));
      
      $(this).ajaxForm({        
        success: function(data) {
          if(data.error) {
            alert("Beim Speichern ist ein Fehler aufgetreten.");
            return;
          }
          
          if(data.post.published) {
            postArticle.remove();
          } else {
            resetAltered(postArticle);
          }
        },
        dataType: 'json'
      });
    });
  });
  
  function save(postArticle) {
    postArticle.find("form:first").submit();
  }
  
  function publish(postArticle) {
    postArticle.find("*[name='published']").val("true");
    postArticle.find("form:first").submit();
  }
  
  function newPost() {
    $.getJSON('/createEmptyPost', function(data) {
      if(data.err) {
        alert("Fehler beim Erstellen eines Posts");
        return;
      } else {
        $('#posts').append(generatePostMarkup(data.post));
      }
    });
  }
  
  function getPost(element) {
    return element.parents("article:first");
  }
  
  function updateTitle(titleInput) {
    var post = getPost(titleInput);
    post.find("*[data-content='title']onClick").html(titleInput.val());
  }
  
  function updateSheet(sheetDropdown) {
    var post = getPost(sheetDropdown);
    
    $.getJSON('/getFailureNumber', {sheet: sheetDropdown.val()}, function(data) {
      post.find("*[data-content='sheet']").html(sheetDropdown.val());
      var nrElement = post.find("*[data-content='nr']");
      if(data.err) {
        nrElement.html("err");
      } else {
        nrElement.html(data.nr);
      }
    });
  }
  
  function setAltered(postArticle) {
    postArticle.find("*[data-content='altered']").html('*');
  }
  
  function resetAltered(postArticle) {
    postArticle.find("*[data-content='altered']").empty();
  }
</script>

<!--article class="post">
    <hgroup>
        <h1><input type="text" placeholder="New post title" value="" /></h1>
        <h2>
            <select name="sheet" onChange="updateFailureNumber()">
                <option value="-1">&gt;&gt; wählen &lt;&lt;</option>
                <% for(var i = 1; i <= 12; i++) { %>
                    <option value="<%= i %>">Blatt <%= i %></option>
                <% } %>
            </select>
            - Nr. (will be assigned by the database)
        </h2>
    </hgroup>
    <section id="content">
        <form method="POST" action="/post/create">
            <input type="hidden" name="published" value="false" />
            <dl>
                <dt>Beschreibung:</dt>
                <dd><input type="text" name="description" placeholder="Post description" value="" /></dd>
                <dt>&nbsp;</dt>
                <dd>
                    <button onClick="return false;">erstellen</button>
                </dd>
            </dl>
        </form>
    </section>
</article-->

<div id="posts">
  <% posts.forEach(function(post) { %>
      <%- generatePostMarkup(post) %>
  <% }); %>
</div>
<input type="button" onClick="newPost()" value="neuer Post" />