<link rel="stylesheet" href="/stylesheets/comments.css" />
<script type="text/javascript" src="/javascripts/jquery.form.js"></script>
<script type="text/javascript" src="/javascripts/markup_generators/comment.js"></script>

<footer>
    <div>
        <aside>
            <form action="/comment/create" method="GET">
                <input type="hidden" name="postId" value="<%= post._id %>" />
                <label for="name">u</label>
                <input type="text" name="name" id="name" placeholder="Name" />
                <textarea name="content" placeholder="Kommentar"></textarea>
                <input type="submit" />
            </form>
        </aside>
        
        <div id="comments">
        <% post.comments.forEach(function(comment) { %>
            <%- generateCommentMarkup(comment) %>
        <% }); %>
        </div>
    </div>
    <br style="clear: both;" />
</footer>