<a id="header" href="/">
    <img src="/images/ifis_logo.png" alt="IfIS Logo" />
    <header>
        <h1>
            <span>h</span><!--
         --><span>i</span><!--
         --><span>w</span><!--
         --><span>i</span><!--
         --><span>s</span><!--
         --><span>@</span><!--
         --><span>i</span><!--
         --><span>f</span><!--
         --><span>i</span><!--
         --><span>s</span>
        </h1>
        <h2>Relationale Datenbanken 1 - WiSe 2011/2012</h2>
    </header>
    <audio src="/audio/Railscasts.mp3" type="audio/mp3"></audio>
    <audio src="/audio/Railscasts.ogg" type="audio/ogg"></audio>
</a>