<ul class="lightbox">
    <li id="superhero">
        <article>
            <section><a href="#bilder">x</a>
                <img src="images/Superhero.png" alt="Superhero">
            </section>
        </article>
    </li>
    <li id="27october2011">
        <article>
            <section><a href="#october2011">x</a>
                <h1>27. Oktober 2011</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 1: Introduction</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="3november2011">
        <article>
            <section><a href="#november2011">x</a>
                <h1>3. November 2011</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 2: Modeling 1</li>
                            <li>Abgabe Aufgabenblatt 1</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="8november2011">
        <article>
            <section><a href="#november2011">x</a>
                <h1>8. November 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td><ul>
                            <li>Übungsgruppe 1 (IZ 160)</li>
                            <li>Übungsgruppe 2 (PK 3.3)</li></ul></td></tr>
                        <tr><td>15:00 - 16:30</td><td><ul>
                            <li>Übungsgruppe 3 (PK 11.5)</li>
                            <li>Übungsgruppe 4 (RR 58.4)</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="9november2011">
        <article>
            <section><a href="#november2011">x</a>
                <h1>9. November 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td>Übungsgruppe 5 (SN 23.2)</td></tr>
                        <tr><td>15:00 - 16:30</td><td>Übungsgruppe 6 (PK 3.4)</td></tr>
                        <tr><td>16:45 - 18:15</td><td>Übungsgruppe 7 (PK 3.3)</td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="10november2011">
        <article>
            <section><a href="#november2011">x</a>
                <h1>10. November 2011</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 3: Modeling 2</li>
                            <li>Abgabe Aufgabenblatt 2</li>
                            <li>SQL Praktikum 1: Modeling</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="15november2011">
        <article>
            <section><a href="#november2011">x</a>
                <h1>15. November 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td><ul>
                            <li>Übungsgruppe 1 (IZ 160)</li>
                            <li>Übungsgruppe 2 (PK 3.3)</li></ul></td></tr>
                        <tr><td>15:00 - 16:30</td><td><ul>
                            <li>Übungsgruppe 3 (PK 11.5)</li>
                            <li>Übungsgruppe 4 (RR 58.4)</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="16november2011">
        <article>
            <section><a href="#november2011">x</a>
                <h1>16. November 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td>Übungsgruppe 5 (SN 23.2)</td></tr>
                        <tr><td>15:00 - 16:30</td><td>Übungsgruppe 6 (PK 3.4)</td></tr>
                        <tr><td>16:45 - 18:15</td><td>Übungsgruppe 7 (PK 3.3)</td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="17november2011">
        <article>
            <section><a href="#november2011">x</a>
                <h1>17. November 2011</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 4: View Integration</li>
                            <li>Abgabe Aufgabenblatt 3</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="22november2011">
        <article>
            <section><a href="#november2011">x</a>
                <h1>22. November 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td><ul>
                            <li>Übungsgruppe 1 (IZ 160)</li>
                            <li>Übungsgruppe 2 (PK 3.3)</li></ul></td></tr>
                        <tr><td>15:00 - 16:30</td><td><ul>
                            <li>Übungsgruppe 3 (PK 11.5)</li>
                            <li>Übungsgruppe 4 (RR 58.4)</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="23november2011">
        <article>
            <section><a href="#november2011">x</a>
                <h1>23. November 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td>Übungsgruppe 5 (SN 23.2)</td></tr>
                        <tr><td>15:00 - 16:30</td><td>Übungsgruppe 6 (PK 3.4)</td></tr>
                        <tr><td>16:45 - 18:15</td><td>Übungsgruppe 7 (PK 3.3)</td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="24november2011">
        <article>
            <section><a href="#november2011">x</a>
                <h1>24. November 2011</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 5: Relational Model</li>
                            <li>Abgabe Aufgabenblatt 4</li>
                            <li>SQL Praktikum 2: Integration</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="29november2011">
        <article>
            <section><a href="#november2011">x</a>
                <h1>29. November 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td><ul>
                            <li>Übungsgruppe 1 (IZ 160)</li>
                            <li>Übungsgruppe 2 (PK 3.3)</li></ul></td></tr>
                        <tr><td>15:00 - 16:30</td><td><ul>
                            <li>Übungsgruppe 3 (PK 11.5)</li>
                            <li>Übungsgruppe 4 (RR 58.4)</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="30november2011">
        <article>
            <section><a href="#november2011">x</a>
                <h1>30. November 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td>Übungsgruppe 5 (SN 23.2)</td></tr>
                        <tr><td>15:00 - 16:30</td><td>Übungsgruppe 6 (PK 3.4)</td></tr>
                        <tr><td>16:45 - 18:15</td><td>Übungsgruppe 7 (PK 3.3)</td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="1december2011">
        <article>
            <section><a href="#december2011">x</a>
                <h1>1. Dezember 2011</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 6: Relational Algebra</li>
                            <li>Abgabe Aufgabenblatt 5</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="6december2011">
        <article>
            <section><a href="#december2011">x</a>
                <h1>6. Dezember 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td><ul>
                            <li>Übungsgruppe 1 (IZ 160)</li>
                            <li>Übungsgruppe 2 (PK 3.3)</li></ul></td></tr>
                        <tr><td>15:00 - 16:30</td><td><ul>
                            <li>Übungsgruppe 3 (PK 11.5)</li>
                            <li>Übungsgruppe 4 (RR 58.4)</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="7december2011">
        <article>
            <section><a href="#december2011">x</a>
                <h1>7. Dezember 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td>Übungsgruppe 5 (SN 23.2)</td></tr>
                        <tr><td>15:00 - 16:30</td><td>Übungsgruppe 6 (PK 3.4)</td></tr>
                        <tr><td>16:45 - 18:15</td><td>Übungsgruppe 7 (PK 3.3)</td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="8december2011">
        <article>
            <section><a href="#december2011">x</a>
                <h1>8. Dezember 2011</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 7: Relational Calculus</li>
                            <li>Abgabe Aufgabenblatt 6</li>
                            <li>SQL Praktikum 3: Relational Model</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="13december2011">
        <article>
            <section><a href="#december2011">x</a>
                <h1>13. Dezember 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td><ul>
                            <li>Übungsgruppe 1 (IZ 160)</li>
                            <li>Übungsgruppe 2 (PK 3.3)</li></ul></td></tr>
                        <tr><td>15:00 - 16:30</td><td><ul>
                            <li>Übungsgruppe 3 (PK 11.5)</li>
                            <li>Übungsgruppe 4 (RR 58.4)</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="14december2011">
        <article>
            <section><a href="#december2011">x</a>
                <h1>14. Dezember 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td>Übungsgruppe 5 (SN 23.2)</td></tr>
                        <tr><td>15:00 - 16:30</td><td>Übungsgruppe 6 (PK 3.4)</td></tr>
                        <tr><td>16:45 - 18:15</td><td>Übungsgruppe 7 (PK 3.3)</td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="15december2011">
        <article>
            <section><a href="#december2011">x</a>
                <h1>15. Dezember 2011</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 8: SQL 1</li>
                            <li>Abgabe Aufgabenblatt 7</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="20december2011">
        <article>
            <section><a href="#december2011">x</a>
                <h1>20. Dezember 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td><ul>
                            <li>Übungsgruppe 1 (IZ 160)</li>
                            <li>Übungsgruppe 2 (PK 3.3)</li></ul></td></tr>
                        <tr><td>15:00 - 16:30</td><td><ul>
                            <li>Übungsgruppe 3 (PK 11.5)</li>
                            <li>Übungsgruppe 4 (RR 58.4)</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="21december2011">
        <article>
            <section><a href="#december2011">x</a>
                <h1>21. Dezember 2011</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td>Übungsgruppe 5 (SN 23.2)</td></tr>
                        <tr><td>15:00 - 16:30</td><td>Übungsgruppe 6 (PK 3.4)</td></tr>
                        <tr><td>16:45 - 18:15</td><td>Übungsgruppe 7 (PK 3.3)</td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="22december2011">
        <article>
            <section><a href="#december2011">x</a>
                <h1>22. Dezember 2011</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 9: SQL 2</li>
                            <li>Abgabe Aufgabenblatt 8</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="10january2012">
        <article>
            <section><a href="#january2012">x</a>
                <h1>10. Januar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td><ul>
                            <li>Übungsgruppe 1 (IZ 160)</li>
                            <li>Übungsgruppe 2 (PK 3.3)</li></ul></td></tr>
                        <tr><td>15:00 - 16:30</td><td><ul>
                            <li>Übungsgruppe 3 (PK 11.5)</li>
                            <li>Übungsgruppe 4 (RR 58.4)</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="11january2012">
        <article>
            <section><a href="#january2012">x</a>
                <h1>11. Januar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td>Übungsgruppe 5 (SN 23.2)</td></tr>
                        <tr><td>15:00 - 16:30</td><td>Übungsgruppe 6 (PK 3.4)</td></tr>
                        <tr><td>16:45 - 18:15</td><td>Übungsgruppe 7 (PK 3.3)</td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="12january2012">
        <article>
            <section><a href="#january2012">x</a>
                <h1>12. Januar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 10: Normalization</li>
                            <li>Abgabe Aufgabenblatt 9</li>
                            <li>SQL Praktikum 4: SQL</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="17january2012">
        <article>
            <section><a href="#january2012">x</a>
                <h1>17. Januar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td><ul>
                            <li>Übungsgruppe 1 (IZ 160)</li>
                            <li>Übungsgruppe 2 (PK 3.3)</li></ul></td></tr>
                        <tr><td>15:00 - 16:30</td><td><ul>
                            <li>Übungsgruppe 3 (PK 11.5)</li>
                            <li>Übungsgruppe 4 (RR 58.4)</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="18january2012">
        <article>
            <section><a href="#january2012">x</a>
                <h1>18. Januar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td>Übungsgruppe 5 (SN 23.2)</td></tr>
                        <tr><td>15:00 - 16:30</td><td>Übungsgruppe 6 (PK 3.4)</td></tr>
                        <tr><td>16:45 - 18:15</td><td>Übungsgruppe 7 (PK 3.3)</td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="19january2012">
        <article>
            <section><a href="#january2012">x</a>
                <h1>19. Januar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 11: Application Programming 1</li>
                            <li>Abgabe Aufgabenblatt 10</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="24january2012">
        <article>
            <section><a href="#january2012">x</a>
                <h1>24. Januar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td><ul>
                            <li>Übungsgruppe 1 (IZ 160)</li>
                            <li>Übungsgruppe 2 (PK 3.3)</li></ul></td></tr>
                        <tr><td>15:00 - 16:30</td><td><ul>
                            <li>Übungsgruppe 3 (PK 11.5)</li>
                            <li>Übungsgruppe 4 (RR 58.4)</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="25january2012">
        <article>
            <section><a href="#january2012">x</a>
                <h1>25. Januar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td>Übungsgruppe 5 (SN 23.2)</td></tr>
                        <tr><td>15:00 - 16:30</td><td>Übungsgruppe 6 (PK 3.4)</td></tr>
                        <tr><td>16:45 - 18:15</td><td>Übungsgruppe 7 (PK 3.3)</td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="26january2012">
        <article>
            <section><a href="#january2012">x</a>
                <h1>26. Januar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 12: Application Programming 2</li>
                            <li>Abgabe Aufgabenblatt 11</li>
                            <li>SQL Praktikum 5: Application Programming</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="31january2012">
        <article>
            <section><a href="#january2012">x</a>
                <h1>31. Januar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td><ul>
                            <li>Übungsgruppe 1 (IZ 160)</li>
                            <li>Übungsgruppe 2 (PK 3.3)</li></ul></td></tr>
                        <tr><td>15:00 - 16:30</td><td><ul>
                            <li>Übungsgruppe 3 (PK 11.5)</li>
                            <li>Übungsgruppe 4 (RR 58.4)</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="1february2012">
        <article>
            <section><a href="#february2012">x</a>
                <h1>1. Februar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td>Übungsgruppe 5 (SN 23.2)</td></tr>
                        <tr><td>15:00 - 16:30</td><td>Übungsgruppe 6 (PK 3.4)</td></tr>
                        <tr><td>16:45 - 18:15</td><td>Übungsgruppe 7 (PK 3.3)</td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="2february2012">
        <article>
            <section><a href="#february2012">x</a>
                <h1>2. Februar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 13: Object Persistence</li>
                            <li>Abgabe Aufgabenblatt 12</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="7february2012">
        <article>
            <section><a href="#february2012">x</a>
                <h1>7. Februar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td><ul>
                            <li>Übungsgruppe 1 (IZ 160)</li>
                            <li>Übungsgruppe 2 (PK 3.3)</li></ul></td></tr>
                        <tr><td>15:00 - 16:30</td><td><ul>
                            <li>Übungsgruppe 3 (PK 11.5)</li>
                            <li>Übungsgruppe 4 (RR 58.4)</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="8february2012">
        <article>
            <section><a href="#february2012">x</a>
                <h1>8. Februar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>13:15 - 14:45</td><td>Übungsgruppe 5 (SN 23.2)</td></tr>
                        <tr><td>15:00 - 16:30</td><td>Übungsgruppe 6 (PK 3.4)</td></tr>
                        <tr><td>16:45 - 18:15</td><td>Übungsgruppe 7 (PK 3.3)</td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="9february2012">
        <article>
            <section><a href="#february2012">x</a>
                <h1>9. Februar 2012</h1>
                <table>
                    <tbody>
                        <tr><td>15:00 - 17:30</td><td><ul>
                            <li>Vorlesung 14: Active Databases</li>
                        </ul></td></tr>
                    </tbody>
                </table>
            </section>
        </article>
    </li>
    <li id="login">
        <article>
            <section><a href="#">x</a>
                <h1>Login</h1>
                <form action="/session/" method="POST">
                    <label for="username">u</label>
                    <input required="required" type="text" name="username" id="username" />
                    <label for="password">k</label>
                    <input required="required" type="password" name="password" id="password" />
                    <input type="submit" value="Submit" />
                </form>
            </section>
        </article>
    </li>
</ul>