<article class="post">
    <hgroup>
        <h1>Kontakt</h1>
        <h2>Wir beantworten gerne alle eure (wenn möglich vorlesungsbezogenen) Fragen</h2>
    </hgroup>
    <section id="content">
        <p>
            Wenn ihr uns kontaktieren wollt, dann benutzt doch bitte die offiziellen Emailadressen der Tutoren von der <a href="http://www.ifis.cs.tu-bs.de/teaching/ws-1112/sql">Vorlesungsseite zum SQL Praktikum</a>.
            Der Einfachheit halber sind die auch hier noch einmal aufgeführt.
        </p>
        <dl id="contact">
            <dt>Remo:</dt>
            <dd><a href="mailto:gruppe1@ifis.cs.tu-bs.de">gruppe1@ifis.cs.tu-bs.de</a></dd>
            <dt>Simon:</dt>
            <dd>
                <ul>
                    <li><a href="mailto:gruppe2@ifis.cs.tu-bs.de">gruppe2@ifis.cs.tu-bs.de</a></li>
                    <li><a href="mailto:gruppe4@ifis.cs.tu-bs.de">gruppe4@ifis.cs.tu-bs.de</a></li>
                </ul>
            </dd>
            <dt>Phil:</dt>
            <dd><a href="mailto:gruppe3@ifis.cs.tu-bs.de">gruppe3@ifis.cs.tu-bs.de</a></dd>
            <dt>Sebastian:</dt>
            <dd><a href="mailto:gruppe5@ifis.cs.tu-bs.de">gruppe5@ifis.cs.tu-bs.de</a></dd>
            <dt>Patrick:</dt>
            <dd><a href="mailto:gruppe6@ifis.cs.tu-bs.de">gruppe6@ifis.cs.tu-bs.de</a></dd>
            <dt>Philipp:</dt>
            <dd><a href="mailto:gruppe7@ifis.cs.tu-bs.de">gruppe7@ifis.cs.tu-bs.de</a></dd>
        </dl>
        <dl id="contact">
            <dt>Telefon:</dt>
            <dd>+49 (531) 391 2231</dd>
        </dl>
    </section>
</article>